.container{
    max-width: 720px;
    margin: 7rem auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container h1{
    color: white;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.input{
    background-color: var(--dark-900);
    border: 0;
    padding: 1rem;
    height: 50px;
    border-radius: 0.2rem;
    color: white;
    border: 1px solid var(--gray-100);
    margin-bottom: 1rem;
}

.buttonAdd{
    height: 50px;
    border: 0;
    background-color: rgb(234, 128, 252);
    font-weight: bold;
    font-size: 18px;
    border-radius: 0.2rem;
    color: var(--dark-900);

    &:hover{
        filter: brightness(1.1);
    }
}